<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<instances defaultInstance="Data">
		<instance name="Data" type="SQLite" connectionString="Data" isFullString="false" isEncrypt="false"/>
	</instances>
	<connectionStrings>
		<connectionString name="Data">
			<parameters>
				<parameter name="DBFile" value="D:\\IrisReco\\test.db" />
			</parameters>
		</connectionString>
	</connectionStrings>
</configuration>
