<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <instances defaultInstance="MYSQL">
    <instance name="MYSQL" type="MYSQL" connectionString="CSSDB" isFullString="false" isEncrypt="false"/>
  </instances>
  <connectionStrings>
    <connectionString name="CSSDB">
      <parameters>
        <parameter name="server" value="2.2.0.201" isSensitive="false"/>
        <parameter name="database" value="ihbc_test" isSensitive="false"/>
        <parameter name="user" value="ihbc_test"></parameter>
        <parameter name="pwd" value="ihbc@i2"></parameter>
      </parameters>
      <fullString></fullString>
    </connectionString>
  </connectionStrings>
</configuration>