<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <instances defaultInstance="SQLCE">
    <instance name="SQLCE" type="SQLCEWebService" connectionString="SQLCE" isFullString="false" isEncrypt="true"/>
  </instances>
  <connectionStrings>
    <connectionString name="SQLCE">
      <parameters>
        <parameter name="DBFile" value="D:\myproject\讯智\虹膜识别\RIS\RIS.UI\bin\Debug\Database.sdf" />
        <parameter name="user" value=""></parameter>
        <parameter name="pwd" value="!qaz2wsx"></parameter>
      </parameters>
    </connectionString>
  </connectionStrings>
</configuration>
